require 'logger'

module MCollective
  module Agent
    class Openshift < RPC::Agent
      def initialize
        super
        @logger = ::Logger.new(config.pluginconf["openshift.devlog"], File::WRONLY | File::APPEND)
        @logger.level = ::Logger::DEBUG
        require config.pluginconf["openshift.agent"]
      end
    end
  end
end