Port $port
ListenAddress $listenAddress

# HostKeys
HostKey /etc/ssh_host_rsa_key
HostKey /etc/ssh_host_dsa_key
HostKey /etc/ssh_host_ecdsa_key

# Logging
LogLevel INFO

# Authentication:
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication yes
UsePrivilegeSeparation no
PidFile /var/run/sshd.pid
Subsystem	sftp	/usr/sbin/sftp-server

AcceptEnv GIT_SSH