<?xml version="1.0" encoding="UTF-8"?>
<healthMonitoring heartbeatInterval="0" enabled="true">

  <bufferModes>
    <add name="Info Notification" maxBufferSize="10" maxFlushSize="5" 
         urgentFlushThreshold="2" regularFlushInterval="Infinite" 
         urgentFlushInterval="00:00:30" />
    <add name="Error Notification" maxBufferSize="10" maxFlushSize="1"
         urgentFlushThreshold="2" regularFlushInterval="Infinite"
         urgentFlushInterval="00:00:00" />
  </bufferModes>

  <providers>
    <clear/>
    <add name="InfoEventProvider" type="Uhuru.CloudFoundry.DEA.Plugins.AspDotNetLogging.LogFileWebEventProvider, Uhuru.CloudFoundry.DEA.Plugins.AspDotNetLogging" 
         buffer="true" bufferMode="Info Notification" />
    <add name="ErrorEventProvider" type="Uhuru.CloudFoundry.DEA.Plugins.AspDotNetLogging.LogFileWebEventProvider, Uhuru.CloudFoundry.DEA.Plugins.AspDotNetLogging"
         buffer="false" bufferMode="Error Notification" />
  </providers>

  <profiles>
    <clear/>
    <add name="CustomInfoLog" minInstances="1" maxLimit="Infinite" 
         minInterval="00:00:00" />
    <add name="CustomErrorLog" minInstances="1" maxLimit="Infinite" 
         minInterval="00:00:00" />
  </profiles>

  <rules>
    <clear/>
    <add name="Event Provider Heartbeats" eventName="Heartbeats" 
         provider="InfoEventProvider" profile="CustomInfoLog"  minInstances="1" 
         maxLimit="Infinite" minInterval="00:00:00"/>
    <add name="Event Provider Lifetime Events" eventName="Application Lifetime Events" 
         provider="InfoEventProvider" profile="CustomInfoLog"  minInstances="1" 
         maxLimit="Infinite" minInterval="00:00:00"/>
    <add name="Event Provider All Errors" eventName="All Errors" 
         provider="ErrorEventProvider" profile="CustomErrorLog"  minInstances="1" 
         maxLimit="Infinite" minInterval="00:00:00"/>
  </rules>
</healthMonitoring>