Port $ENV:port
ListenAddress $ENV:listenAddress

# HostKeys
HostKey $ENV:rsaKeyLinuxPath
HostKey $ENV:dsaKeyLinuxPath
HostKey $ENV:ecdsaLinuxPath

# Logging
LogLevel INFO

# Authentication:
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
UsePrivilegeSeparation no
PidFile sshd.pid
Subsystem	sftp	/usr/sbin/sftp-server
